

/*.menu{

	background-color:grey;
		width:300px;
	font-size: 25px;

	}

.menu>.menuitem{

	display:block;
	list-style-type: none;
	color:white;
	padding:20px;
	
}*/

.menu{

	background-color:grey;
	width:300px;
	font-size: 25px;
	height:650px;
	overflow: scroll;
	position:fixed;

	}

.menu>.menuitem{

	display:block;
	list-style-type: none;
	color:white;
	padding:20px;
	
}
 



 

